<br/>
<br/>
<br/>
<br/>

<form
  method="post"
  class="form-horizontal"
>
  <fieldset>
    <!-- Form Name -->
    <legend>
      <label style="font-weight: bold; width: 250px;">Ödeme Bilgileri</label>
    </legend>
    <!-- Text input-->
    <div class="form-group">
      <label
        class="col-md-4 control-label"
        for=""
      >Order Id:</label>
      <div class="col-md-4">
        <input
          value=""
          name="orderId"
          class="form-control input-md"
        >
      </div>
    </div>

    <div class="form-group">
      <label
        class="col-md-4 control-label"
        for=""
      >Amount:</label>
      <div class="col-md-4">
        <input
          value=""
          name="amount"
          class="form-control input-md"
        >
      </div>
    </div>

  </fieldset>

  <!-- Button -->
  <div class="form-group">
    <label
      class="col-md-4 control-label"
      for=""
    ></label>
    <div class="col-md-4">
      <button
        type="submit"
        id=""
        name=""
        class="btn btn-success"
      >Ön Otorizasyon Kapama
      </button>
    </div>
  </div>
</form>

<br/>
<pre>
 <%= if @returnData

       JSON.pretty_generate(@returnData)

     else
       "nil"
     end
 %>
 </pre
 >